main h1 {
    font-size: 6vmin;
    margin: 4vmin 0;
    text-align: center;
}

.eachFaq {
    padding: 2vmin 2vmin;
    margin-bottom: 1vmin;
    border: 1px solid #7F6774;
    border-radius: 3vmin;
    background-color: #DDD8DB;
}

.eachFaq h4:before{ 
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 15px;
}
.eachFaq.close h4:before{ 
    content: '+'; 
}
.eachFaq.open h4:before{ 
    content: '-'; 
}

.eachFaq .title {
    cursor: pointer;
}

.eachFaq .title:hover {
    color: #7F6774;
}

.accordion-content {
    margin-top: 1vmin;
}