main {
	background-color: lightgray;
	border-radius: 2vmin;
}

main {
    margin: 2vmin 16vmin;
    padding: 4vmin;
}

main h1 {
    margin-bottom: 4vmin;
}

main h3 {
    margin: 2vmin 0;
}

main p {
    margin-bottom: 1vmin;
}

main ul {
    list-style: none;
}

main ul li {
    padding: 1vmin 0;
}

ul li:before {
    content: '\2605';
}

img {
    height: 20vh;
}

footer {
    height: 10vh;
}