body {
    background-image: url("images/contact.png");
}

/* MAIN *****************************************/

main {
    /* border: 1px solid green; */
    flex: 100%;
    height: 78vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

main form {
    border: 1px solid #9B807E;
    width: 36vw;
    
    background-image: linear-gradient(rgba(255, 249, 249, 0.3), rgba(255, 249, 249, 0.7));
    padding: 3vmin 6vmin;
    border-radius: 3vmin;
}

form h2 {
    font-size: 4vmin;
    
    text-align: center;
    margin: 1vmin 0 3vmin 0;
}

form label {
    
    font-weight: bold;
}

form input {
    height: 5vmin;
    width: 100%;
    border-radius: 1vmin;
    border: 1px solid #624755;
    padding: 1vmin;
    margin-top: 0.5vmin;
    margin-bottom: 2vmin;
    box-shadow: 0.5vmin 0.5vmin 1vmin #624755; 
}

form input:focus {
    outline: 1px solid #624755;
    background-color: #BCAFB5;
}

form button {
    height: 6vmin;
    width: 32%;
    
    margin-bottom: 1vmin;
    border-radius: 3vmin;
    border: #624755;
    font-size: 2.5vmin;
    font-weight: bold;
    color: #DDD8DB;
    background-color: #624755;
    box-shadow: 0.5vmin 0.5vmin 1vmin #624755; 
    transition: all 0.5s ease-in-out;
    float: right;
}

form button:hover {
    transform: scale(0.95);
    background-color: #9B807E;
    
}

textarea {
    width: 100%;
    height: 24vh;
    resize: none;
    margin-top: 0.5vmin;
    margin-bottom: 2vmin;

    width: 100%;
    border-radius: 1vmin;
    border: 1px solid #624755;
    padding: 1vmin;
    margin-top: 0.5vmin;
    margin-bottom: 2vmin;
    box-shadow: 0.5vmin 0.5vmin 1vmin #624755; 
}

form textarea:focus {
    outline: 1px solid #624755;
    background-color: #BCAFB5;
}


/* MEDIA QUERIES *****************************************/

@media only screen and (max-width: 968px) {

    main form {
        width: 60vw;
    }

}


@media only screen and (max-width: 768px) {

    main form {
        width: 80vw;
    }

}

