
/* TO-DO: add background image
          take all this to auth.css
*/

body {
    background-image: url("images/background.png");
    background-size: 100vw 100vh;
}

/* MAIN *****************************************/

main {
    /* border: 1px solid green; */
    flex: 100%;
    height: 78vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

main form {
    border: 1px solid #9B807E;
    width: 26%;
    
    background-image: linear-gradient(rgba(255, 249, 249, 0.3), rgba(255, 249, 249, 0.7));
    padding: 3vmin 6vmin;
    border-radius: 3vmin;
}

form h2 {
    font-size: 4vmin;
    color: #785957;
    text-align: center;
    margin: 1vmin 0 3vmin 0;
}

form label {
    color: #785957;
    font-weight: bold;
}

form input {
    height: 5vmin;
    width: 100%;
    border-radius: 1vmin;
    border: 1px solid #785957;
    padding: 1vmin;
    margin-top: 0.5vmin;
    margin-bottom: 2vmin;
    box-shadow: 0.5vmin 0.5vmin 1vmin #785957; 
}

form input:focus {
    outline: 1px solid #785957;
    background-color: #E6D7D6;
}

form button {
    height: 6vmin;
    width: 32%;
    
    margin-bottom: 1vmin;
    border-radius: 3vmin;
    border: #785957;
    font-size: 2.5vmin;
    font-weight: bold;
    color: #FFF9F9;
    background-color: #785957;
    box-shadow: 0.5vmin 0.5vmin 1vmin #785957; 
    transition: all 0.5s ease-in-out;
    float: right;
}

form button:hover {
    transform: scale(0.95);
    background-color: #9B807E;
    
}

textarea {
    width: 100%;
    height: 24vh;
    resize: none;
    margin-top: 0.5vmin;
    margin-bottom: 2vmin;

    width: 100%;
    border-radius: 1vmin;
    border: 1px solid #785957;
    padding: 1vmin;
    margin-top: 0.5vmin;
    margin-bottom: 2vmin;
    box-shadow: 0.5vmin 0.5vmin 1vmin #785957; 
}

form textarea:focus {
    outline: 1px solid #785957;
    background-color: #E6D7D6;
}


/* FOOTER *****************************************/

footer {
    height: 10vh;
}


@media only screen and (max-width: 768px) {
    
    body {
        flex-direction: column;
    }

}

