main {
    flex: 50%;
    /* border: 1px solid black; */

    padding: 4vh 10vw 0 0;
    
}

main h1 {
    font-size: 6vmin;
    margin-bottom: 4vmin;
    text-align: center;
}

aside {
    flex: 50%;
    /* border: 1px solid black; */
    text-align: center;
}

aside img {
    height: 72vmin;
    width: 72vmin;
}

.eachFaq {
    padding: 2vmin 2vmin;
    margin-bottom: 1vmin;
    border: 1px solid #7F6774;
    border-radius: 3vmin;
    background-color: #DDD8DB;
}

.accordion-content {
    margin-top: 1vmin;
}

@media only screen and (max-width: 868px) {
    
    main {
        padding-left: 4vw;
        padding-right: 4vw;
    }

    img {
        /* border: 1px solid green; */
        width: 60vmin;
        height: 60vmin;
    }
}

@media only screen and (max-width: 668px) {
    
    main {
        text-align: center;
        padding: 0 10vw;
    }

    aside {
        display: none;
    }

}