nav {
    background-color: lightblue;
    border: 1px solid black;
    height: 12%;

    display: flex;
    align-items: center;
}

nav a {
    padding: 2vmin; 
    /* border: 1px solid black; */
}

nav h1 {
    margin-left: 16vmin;
    margin-right: 8vmin;
}