body > * {
    flex: 100%;
} 

/*************************************************/

#landing-page {
    background-color: pink;
    border: 1px solid black;
    min-height: 88%;

    padding: 12vmin 16vmin;
    padding-bottom: 2vmin;

}

#landing-page h1 {
    font-size: 8vmin;
    
}

#landing-page p {
    width: 40%;
    margin: 4vmin 0;
}

#landing-page img {
    float: right;

    width: 80vmin;
    height: 80vmin;
    margin-top: -8vmin;
    margin-right: 8vmin;

}


/*************************************************/

#popular-posts {
    background-color: lightgreen;
    border: 1px solid black;
    min-height: 80%;
    padding: 8vmin 16vmin;
}

#popular-posts h1 {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    border: 1px solid black;
}

#popular-posts h1 + div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 2vmin;

    border: 1px solid black;
}

#popular-posts button {
    margin: 1.6vmin 0;
}


div.post {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    height: 40vh;
    margin-top: 4vh;

    border: 1px solid black;
}


/*************************************************/




/*************************************************/

.eachFaq h4:before{ 
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 15px;
}
.eachFaq.close h4:before{ 
    content: '+'; 
}
.eachFaq.open h4:before{ 
    content: '-'; 
}

.eachFaq .title{ cursor: pointer; }
.eachFaq .title:hover{ color: red; }




