
header{
    flex: 100%;
    margin: 0 16vmin;
    border: 1px solid black;
    height: 12vh;
}

main {
    flex: 100%;
    margin: 0 16vmin;
    border: 1px solid black;
    min-height: 66vh;
}

.tab {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 50px;
}

.tab button {
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;

    border: 1px solid #ccc;
    border-top: none;
    background-color: lightblue;
}

.tabcontent.first {
    display: block;
}