*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* resize: none; */
}

html,body{
    min-height: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-wrap: wrap;
}

body > * {
    flex: 100%;
} 

