*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* resize: none; */
}

html,body{
    min-height: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-wrap: wrap;
}

body > * {
    flex: 100%;
} 

nav {
    background-color: lightblue;
    border: 1px solid black;
    height: 12%;

    display: flex;
    align-items: center;
}

nav a {
    padding: 2vmin; 
    /* border: 1px solid black; */
}

nav h1 {
    margin-left: 16vmin;
    margin-right: 8vmin;
}

/*************************************************/

#landing-page {
    background-color: pink;
    border: 1px solid black;
    min-height: 88%;

    padding: 12vmin 16vmin;
    padding-bottom: 2vmin;


}

#landing-page h1 {
    font-size: 8vmin;
    
}

#landing-page p {
    width: 40%;
    margin: 4vmin 0;
}

#landing-page img {
    float: right;

    width: 80vmin;
    height: 80vmin;
    margin-top: -8vmin;
    margin-right: 8vmin;

}


/*************************************************/

#popular-posts {
    background-color: lightgreen;
    border: 1px solid black;
    min-height: 80%;
    padding: 8vmin 16vmin;
}

#popular-posts h1 {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    border: 1px solid black;
}

#popular-posts h1 + div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 2vmin;

    border: 1px solid black;
}

#popular-posts button {
    margin: 1.6vmin 0;
}


div.post {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    height: 40vh;
    margin-top: 4vh;

    border: 1px solid black;
}


/*************************************************/

footer {
    background-color: lightgray;
    border: 1px solid black;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16vmin;
}

#more-info a, #socials a{
    font-size: 3vmin;
    padding: 2vmin;
    /* text-decoration: none; */
}


/*************************************************/

.eachFaq h4:before{ 
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 15px;
}
.eachFaq.close h4:before{ 
    content: '+'; 
}
.eachFaq.open h4:before{ 
    content: '-'; 
}

.eachFaq .title{ cursor: pointer; }
.eachFaq .title:hover{ color: red; }




