*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* resize: none; */
}

body{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #E6D7D6;
    font-family: 'Trebuchet MS';
}

nav, footer {
    flex: 100%;
} 


/* NAV ************************************/

nav {
    
    /* border: 1px solid black; */
    height: 12vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16vmin;
}

nav a {
    padding: 1.5vmin; 
    text-decoration: none;
    color: #785957;
    font-weight: bold;
    font-size: 3.3vmin;
    /* border: 1px solid black; */

    box-shadow: inset 0 -3px 0 -1px #785957;
    transition: all .3s ease-in-out;
    
    line-height: 40px;
}
  
nav a:hover {
    box-shadow: inset 0 -40px 0 -1px #785957;
    color: #E6D7D6;
}


/* FOOTER *******************************/

footer {
    border: 1px solid blue;
    height: 20vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16vmin;
}

@keyframes anim {
    0%, 100% {transform: translateY(0);}
    25%, 75% {transform: translateY(-1vmin);}
    50% {transform: translateY(-2vmin);}
}

#socials a{
    font-size: 5vmin;
    padding: 2vmin;
    color: #785957;
    text-decoration: none;
    display: inline-block;
}

#socials a:hover{
    animation: anim 1s linear;
}
