/* ASIDE ****************************************/

aside {
    /* border: 1px solid red; */
    flex: 50%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

img {
    /* border: 1px solid green; */
    width: 76vmin;
    height: 76vmin;
}

/* MAIN *****************************************/

main {
    /* border: 1px solid green; */
    flex: 50%;
    
    padding-left: 6vw;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main form {
    border: 1px solid #9B807E;
    width: 56vmin;
    
    background-image: linear-gradient(rgba(255, 249, 249, 0.3), rgba(255, 249, 249, 0.7));
    padding: 3vmin 6vmin;
    border-radius: 3vmin;
}

form h2 {
    font-size: 4vmin;
    
    text-align: center;
    margin: 1vmin 0 3vmin 0;
}

form label {
    
    font-weight: bold;
}

form input {
    height: 5vmin;
    width: 100%;
    border-radius: 1vmin;
    border: 1px solid #624755;
    padding: 1vmin;
    margin-top: 0.5vmin;
    margin-bottom: 2vmin;
    box-shadow: 0.5vmin 0.5vmin 1vmin #624755; 
}

form input:focus {
    outline: 1px solid #624755;
    background-color: #BCAFB5;
}

form p a {
    color: #624755;
}

form button {
    height: 6vmin;
    width: 32%;
    
    margin-bottom: 1vmin;
    border-radius: 3vmin;
    border: #624755;
    font-size: 2.5vmin;
    font-weight: bold;
    color: #DDD8DB;
    background-color: #624755;
    box-shadow: 0.5vmin 0.5vmin 1vmin #624755; 
    transition: all 0.5s ease-in-out;
    float: right;
}

form button:hover {
    transform: scale(0.95);
    background-color: #7F6774;
}

form button + p {
    
    clear: both;
}


@media only screen and (max-width: 868px) {
    
    main {
        padding-left: 0;
    }

    img {
        /* border: 1px solid green; */
        width: 60vmin;
        height: 60vmin;
    }
}

@media only screen and (max-width: 668px) {
    
    
    aside {
        display: none;
    }
    
    main {
        justify-content: center;
    }
}

